@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "tailwind-scrollbar" {
    nocompatible: true;
    preferredstrategy: 'pseudoelements';
}

@import './theme/preset.css';

@tailwind utilities;

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
    --animation-blink-border-and-shadow: blinkBorderAndShadow 1.5s ease-in-out infinite;
}

@keyframes blinkBorderAndShadow {
    0%,
    100% {
        border-color: hsl(var(--border));
        box-shadow: 0 0 0 0 transparent;
    }
    50% {
        border-color: hsl(var(--primary));
        box-shadow: 0 0 0 2px hsl(var(--primary) / 0.3);
    }
}
