LOG_LEVEL=DEBUG
# supported values: text, json
LOG_FORMAT=json

DATAROBOT_ENDPOINT=
DATAROBOT_API_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

BOX_CLIENT_ID=
BOX_CLIENT_SECRET=

# change SESSION_SECRET_KEY to a random string (e.g. value can be generated using `openssl rand -hex 32`)
SESSION_SECRET_KEY=ChangeMe123
SESSION_HTTPS_ONLY=False

# When enabled, it will help you to emulate the DataRobot App Authentication.
# Set up either of two configs. If both are set, only the DR API key will be used.
TEST_USER_API_KEY=
TEST_USER_EMAIL=

DATABASE_URI="sqlite+aiosqlite:///.data/database.sqlite"